{% extends "base.html" %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for i, show in shows %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ show.wallpaper }}" width="100%" height="225">

                    <div class="card-body">
                        <h2><a href="/{{ i }}">{{ show.title }}</a></h2>
                        <p class="card-text">{{ show.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<footer class="text-body-secondary py-5">
<div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">DRTV2</h1>
            <p class="text-body-secondary">
            Den her hjemmeside er en frontend til DRTV, i stil med Invidious eller Nitter.</br>
            Ingen af videoerne bliver hostet på den her hjemmeside og du kan ikke se noget du ikke ville kunne se med DRTV. Hjemmesides tillader bare en nemmere brugergrænseflade end DR's egen (I min mening).</br>
            Serier er det eneste der er understøttet. Film har jeg ikke rigtig orket, de fleste kan jeg ikke se udenfor Danmark alligevel.</br>
            Kildekoden er at finde på <a href='https://github.com/RasmusRendal/drtvrss'>GitHub</a></br>
            Klager kan sendes til <a href="mailto:rasmus@rend.al">rasmus@rend.al</a>.
            </p>
        </div>
    </div>


</footer>

{% endblock %}
