{% extends "base.html" %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for i, show in shows %}
                {% include "_show_card.html" %}
            {% endfor %}
        </div>
    </div>
</div>
<footer class="text-body-secondary py-5">
    <div class="py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">Public Service</h1>
            <p class="text-body-secondary">
            Public Service er en frontend til DRTV, i stil med Invidious eller Nitter.</br>
            Ingen af videoerne bliver hostet på den her hjemmeside og du kan ikke se noget du ikke ville kunne se med DRTV. Hjemmesiden tillader bare en nemmere brugergrænseflade end DR's egen (I min mening).</br>
            Kildekoden er at finde på <a href='https://github.com/RasmusRendal/drtvrss'>GitHub</a></br>
            {% if complaints_email %}
            Klager kan sendes til <a href="mailto:{{ complaints_email }}">{{ complaints_email }}</a>.
            {% endif %}
            </p>
        </div>
    </div>


</footer>

{% endblock %}
